// ------general val-----
$button_bg:'../img/banner/home-banner.jpg';
$white_font:#fff;
$head_fontSize:32px;
$flex:flex;
$inline:inline-block;
$center:0 auto;
$contair:90%;


// -----banner section-------

$logo:'../img/logo.png';
$banner_bg:'../img/banner/home-banner.jpg';
$left_side:"../img/banner/right-mobile.png";
$white_button: #fff;
$headline_size: 48px;
$uper_case:uppercase;
$li_styleNone:none;
$section_bg: #eaf5f5;

// -------Unique Features----
$shadows: 1px 2px 4px rgba(0, 0, 0, .5);
$migic_icon:'../img/icon/f-icon-1.png';

// -----third -----
$img_third:'../img/interior-1.png';
// -----fourth-----
$img_fourth:'../img/interior-2.png';
// ------video-----
$video_img:'../img/video-1.png';
// -----pricing_table-----
$title_border: 2px solid   #eaf5f5; 
// -------screeshots------
$figure_one:'../img/feature/feature-1.jpg';
$figure_two: '../img/feature/feature-2.jpg';
$figure_three:'../img/feature/feature-3.jpg';
$figure_four:'../img/feature/feature-4.jpg';

